<div class="main">
	<app-common-design [productName]="name1" [productImage]="image1" [productPrice]="price1" [productDescription]="description1"></app-common-design>
	<app-common-design [productName]="name2" [productImage]="image2" [productPrice]="price2" [productDescription]="description2"></app-common-design>
	<app-common-design [productName]="name3" [productImage]="image3" [productPrice]="price3" [productDescription]="description3"></app-common-design>
	<app-common-design [productName]="name4" [productImage]="image4" [productPrice]="price4" [productDescription]="description4"></app-common-design>
</div>