

<!-- simple inline style binding -->
<p [style.color]="color" [style.fontSize]="fontSize">
	This is a paragraph with dynamic styles.
  </p>


<!-- inline style binding -->
<div [style.width]="'100%'" [style.height]="'100vh'" [style.backgroundColor]="'white'" [style.text-align]="'center'">
	<h1 [style.text-align]="'center'" [style.color]="'blue'">Inline Style Binding</h1>
	<img src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/2023/2023-11/angular-logo-1200-628.png?sfvrsn=bf64b1ee_3" alt="">
	<div [style.color]="'red'" [style.font-size]="'25px'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores debitis nulla, </div>
	<button [style.backgroundColor]="'red'" [style.color]="'white'" [style.border-radius]="'8px'" [style.padding]="'20px'">Submit</button>
</div>