<nav>
	<div class="logo">
		<span class="medi">Medi</span><span>plus</span>
	</div>
  <ul>
    <li> <app-common-link [link]="links[0]"></app-common-link> </li>
	<li> <app-common-link [link]="links[1]"></app-common-link> </li>
	<li> <app-common-link [link]="links[2]"></app-common-link> </li>
	<li> <app-common-link [link]="links[3]"></app-common-link> </li>
	<li> <app-common-link [link]="links[4]"></app-common-link> </li>
	<li> <app-common-link [link]="links[5]"></app-common-link> </li>
  </ul>
  <app-common-button name="Book Appoinment"></app-common-button>
</nav>
