<div class="main">
	<app-common-blocks [studentImg]="students[0]['image']" [studentName]="students[0]['name']" [marks]="students[0]['marks']"></app-common-blocks>
	<app-common-blocks [studentImg]="students[1]['image']" [studentName]="students[1]['name']" [marks]="students[1]['marks']"></app-common-blocks>
	<app-common-blocks [studentImg]="students[2]['image']" [studentName]="students[2]['name']" [marks]="students[2]['marks']"></app-common-blocks>
	<app-common-blocks [studentImg]="students[3]['image']" [studentName]="students[3]['name']" [marks]="students[3]['marks']"></app-common-blocks>
</div>